.container{
    margin: 30px;
}

.nav-link{
    font-size: 30px;
}
.done-mark{
    font-size: 30px;
    color: aqua;
    margin: 5px;
}

#message-dialog{
    min-height: 50px;
    max-height: 50px;
}
.delete-task{
    font-size: 30px;
    color: aqua;
}

.like {
    font-size: 30px;
    color: aqua;
    margin: 10px;
}
.dislike {
    font-size: 30px;
    color: aqua;
    margin: 10px;
}